body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color:lightskyblue;
    color: lightcyan;
}
h1{
    color:tomato;
}
  /* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}  
  /* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}  
  /* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #000;
}  
  /* Current/active navbar link */
.active {
    background-color: #04AA6D;
}  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
.navbar a {
    float: none;
    display: block;
}
}
@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }
    .titulo{
        font-size: 40px;
    }
   .hamburguer{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    display: block;
   }
   .menu-navegacion{
    display: none;
    }
    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .img-galeria{
        width: 45%;
    }
    
    .agregarImagen{
        width: 80%;
    }
    .cont-expert{
        width: 80%;
    }
    .footer-content{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }
}
* {
    box-sizing: border-box;
}  
.row > .column {
    padding: 0 8px;
}  
.row:after {
    content: "";
    display: table;
    clear: both;
}  
.column {
    float: left;
    width: 25%;
}  .column figcaption{
    text-align: center;
    font-weight: bolder;
    padding-top: 15px;
}  
  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 350px;
}  
  /* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}  
.mySlides {
    display: none;
}  
.cursor {
    cursor: pointer;
}  
  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: black;
}  
  /* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}  
img {
    margin-bottom: -4px;
}  
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}  
.demo {
    opacity: 0.6;
}  
.active,
.demo:hover {
    opacity: 1;
}
    img.hover-shadow {
    transition: 0.3s;
}  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  
.maps{
    position: relative;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon:hover{
    background: #fff;
    color:#67a24b;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}